body{
    background-image:url(../images/000033.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}
#ingreso{
    padding:0 50px;
}
.contenido-ingreso{
    position: relative;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
    

}
.contenido-ingreso h1{
    font-size: 65px;
    font-weight:400;
    padding: 10px 0px ;
}
.contenido-ingreso h1 span{
    font-weight: 600;

}

a{
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid #ffffff;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0,4s;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a:hover{
   background: rgba(0,0,0,0.8);

}
.footer{
    
    height: 50px;
    padding: 1em 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
