
html{
    scroll-behavior: smooth;
  }
  
  body{
    background-image:url(../images/000033.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 10px;
    
}
a:hover{
    color:rgb(176,228,250);
}

header{
    background-color:rgb(176,228,250,0.2);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
   
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height: 65px;
}
h1{font-size: 3em;}
p{font-size: 1em;}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    background-color:rgb(255,255,255,0.2);
    font-weight: 600;
    font-style: italic;
    

  }
  .container{
    background-color:rgb(255,255,255,0.2);
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }
  .container .img1{
    margin-left: 40px;
    margin-top: 1em;
    
  }
  .container .texto{
    padding-left: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

  a.boton{
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 800;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a.boton:hover{
   color:#F96E28;
}
.analogas{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
   
}
.analogas img{
    max-width: 400px;
    padding: 3.3rem;
    background: rgb(255,255,255,0.2);
   
}
h3{
    text-decoration:underline;
}
h4 {
    display: flex;
    margin-block-start: 2em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.contacto{
    background-color: rgb(255,255,255,0.8);
    
    padding:15px;
    display:column-reverse;
    text-align: center;
}

footer{
    background-color:rgb(255,255,255,0.8); 
    text-align: end;
    
}