body{
    background-image:url(../images/000033.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 10px;
    
}

header{
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
   
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height: 65px;
}

main h1{
    display: block;
    font-size: 2em;
    margin-block-start:1em;
    margin-block-end: 0.67em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-weight: bold;
}
main p{
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.fotos .gallery{
    max-width: 75opx;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    grid-gap:1rem;

}
.fotos .gallery img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2px;

}
.fotos .gallery .img-a{
    
    grid-column:1/3 ;
    margin: 20px solid #ffffff;
    
